<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="./vue.js"></script>
		<title>Aprendendo Vue.JS</title>
		<style></style>
	</head>
	<body>
		<div id="app">
			<ul>
				<!-- <li v-for="n in 10">{{ n }}</li> -->
				<li v-for="n in numero">{{ n }}</li>
			</ul>
		</div>
		<script>
			const vm = new Vue({
				el: "#app",
				data: {
					numero: 5,
				},
				methods: {},
			});
		</script>
	</body>
</html>
